<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient List</title>
</head>
<body>
    <h1>Patients</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
        {% if patient_list %}
            {% for patient in patient_list %}
            <tr>
                <td>{{patient.id}}</td>
                <td>{{patient.firstName}}</td>
                <td>{{patient.lastName}}</td>
                <td>{{patient.age}}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">No Data Found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</body>
</html>